<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/room.js"></script>
    <script defer src="/js/chat.js"></script>
    <link rel="stylesheet" href="/css/room.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script>
        const ROOM_ID = '<%= roomID %>';
        const USER_ID = '<%= userID %>';
    </script>
</head>

<body>
    <div id="grid">
        <div id="media">
            <div id="video-grid">
            </div>
        </div>

        <div id='bodybox'>
            <div id='chatborder'>
                <p id="chatlog12" class="chatlog">&nbsp;</p>
                <p id="chatlog11" class="chatlog">&nbsp;</p>
                <p id="chatlog10" class="chatlog">&nbsp;</p>
                <p id="chatlog9" class="chatlog">&nbsp;</p>
                <p id="chatlog8" class="chatlog">&nbsp;</p>
                <p id="chatlog7" class="chatlog">&nbsp;</p>
                <p id="chatlog6" class="chatlog">&nbsp;</p>
                <p id="chatlog5" class="chatlog">&nbsp;</p>
                <p id="chatlog4" class="chatlog">&nbsp;</p>
                <p id="chatlog3" class="chatlog">&nbsp;</p>
                <p id="chatlog2" class="chatlog">&nbsp;</p>
                <p id="chatlog1" class="chatlog">&nbsp;</p>
                <input type="text" name="chat" id="chatbox" placeholder="Input your message" onfocus="placeHolder()">
            </div>
        </div>

        <div id="buttons">
            <button id="startButton">Start</button>
            <button id="callButton">Call</button>
            <button id="hangUpButton">Hang Up</button>
        </div>
    </div>
</body>

</html>